@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    

}

a{
    text-decoration: none;
    color: rgb(224, 219, 219);
}

/* Nav and header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    margin: 20px 100px 0 100px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 15px;

}

nav ul li {
    padding: 12px 30px;
    margin: 10px;
    background-color: transparent;
    border: 4px solid rgb(224, 219, 219);
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
}

nav ul li:hover{
    background-color: rgb(0, 102, 255);

}

.logo {
    max-height: 300px;
    max-width: 300px;
}

/* hero section */

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.35);
}  

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.scroll_down_icon {
    font-size: 40px;
    position: absolute;
    top: 87vh;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 70px;
}


/* Animations */
.animate__bounceInUp.animate__animated {
    --animate-duration: 1300ms;
}
